@import '../../colors';

.navigation-container {
    width: 100vw;

    .right-navigation {
        width: 18%;
        height: 100vh;
        background-color: #fff;
        border-left: 1px solid $border-gray;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: 0.3s ease-in-out all;
        z-index: 100;

        .top-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin-top: 2rem;

            .main-link {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 80%;
                height: 4rem;
                margin-bottom: 20px;

                .main-logo {
                    height: 100%;
                    width: auto;
                }

                h1 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    font-family: 'Dosis', sans-serif;
                }
            }

            .navigation-link {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 80%;
                height: 3rem;
                background-color: transparent;
                border-radius: 1.5rem;
                margin: 0.5rem 0;
                transition: 0.2s ease-in-out all;

                h1 {
                    font-size: 1.1rem;
                    font-weight: 400;
                    color: $link-dark;
                    transition: 0.2s ease-in-out all;
                }

                svg {
                    width: 1.8rem;
                    height: auto;
                    margin: 0 1rem;
                    transition: 0.2s ease-in-out all;

                    path {
                        fill: $link-dark;

                    }
                }

                &:hover {
                    background-color: $primary-color;

                    h1 {
                        color: #fff;
                    }

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }

        .bottom-section {
            width: 100%;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .navigation-link {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 80%;
                height: 3rem;
                background-color: transparent;
                border-radius: 1.5rem;
                margin: 0.5rem 0;
                transition: 0.2s ease-in-out all;

                h1 {
                    font-size: 1.1rem;
                    font-weight: 400;
                    color: $red;
                    transition: 0.2s ease-in-out all;
                }

                svg {
                    width: 1.8rem;
                    height: auto;
                    margin: 0 1rem;
                    transition: 0.2s ease-in-out all;

                    path {
                        fill: $red;

                    }
                }

                &:hover {
                    background-color: $red;

                    h1 {
                        color: #fff;
                    }

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }

    }

    .top-navigation {
        width: 74%;
        padding: 3rem 4%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .right-section {
            height: 80%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .search-bar {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 3rem;
                padding: 0 1rem;
                border-radius: 1.5rem;
                background-color: $line-soft;

                .search-bar__button {
                    all: unset;
                    cursor: pointer;
                    width: 2.5rem;
                    height: 2.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        width: 75%;
                        height: auto;

                        path {
                            fill: $link-dark;
                        }
                    }
                }

                .search-bar__input {
                    all: unset;
                    width: 14rem;
                    height: 80%;
                    padding-right: 0.8rem;
                    background-color: transparent;
                    text-align: right;

                    &:focus {
                        &::placeholder {
                            opacity: 0.5;
                        }
                    }
                }
            }


        }

        .left-section {
            height: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .user-links {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .profile-dropdown {
                    position: relative;
                    margin-right: 20px;

                    .PButton {
                        display: flex;
                        align-items: center;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                        padding: 5px 10px;
                        border-radius: 1.5rem;
                        cursor: pointer;

                        .img {
                            width: 30px;
                            height: 30px;
                            border-radius: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $accent-color3;

                            img {
                                width: 25px;
                                height: auto;
                            }
                        }

                        h1 {
                            font-size: 1.2rem;
                            margin: 0 0.5rem;
                        }

                        svg {
                            width: 20px;
                            height: auto;

                            path {
                                fill: $link-dark;
                            }
                        }
                    }

                    .dropdown-menu {
                        position: absolute;
                        top: 110%;
                        left: 0;
                        background-color: #fff;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                        list-style: none;
                        padding: 1rem;
                        margin: 0;
                        border-radius: 1rem;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 12rem;

                        li {
                            cursor: pointer;
                            border-radius: 1rem;
                            margin: 0.4rem 0;

                            .dropdown-link {
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                width: 90%;
                                height: 2.5rem;

                                h1 {
                                    font-size: 1rem;
                                    font-weight: 500;
                                    transition: 0.2s ease-in-out all;
                                }

                                svg {
                                    width: 1.6rem;
                                    height: auto;
                                    margin-left: 1rem;
                                    transition: 0.2s ease-in-out all;

                                }

                            }

                            .dropdown-link-last {
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                width: 90%;
                                height: 2.5rem;

                                h1 {
                                    font-size: 1rem;
                                    font-weight: 500;
                                    color: $red;
                                    transition: 0.2s ease-in-out all;
                                }

                                svg {
                                    width: 1.6rem;
                                    height: auto;
                                    margin-left: 1rem;
                                    transition: 0.2s ease-in-out all;

                                    path {
                                        fill: $red;
                                    }
                                }
                            }

                            &:hover {
                                background-color: #f0f0f0;
                            }
                        }
                    }

                    &.open {
                        .dropdown-menu {
                            display: block;
                        }
                    }
                }

                .notification {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 1.5rem;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    svg {
                        width: 60%;
                        height: 60%;
                    }

                    .count-circle {
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 0.75rem;
                        background-color: $primary-color;
                        position: absolute;
                        top: -5px;
                        right: -10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        h1 {
                            font-size: 0.8rem;
                            font-weight: 400;
                            color: #fff;
                        }
                    }

                    .dropdown-menu {
                        position: absolute;
                        top: 110%;
                        left: 0;
                        background-color: #fff;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                        list-style: none;
                        padding: 1rem;
                        margin: 0;
                        border-radius: 1rem;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        width: 18rem;

                        h2 {
                            font-size: 1.2rem;
                        }

                    }
                }
            }


        }
    }
}

.ham-button {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 101;

    div {
        width: 1.4rem;
        height: 0.1rem;
        margin: 0.19rem 0;
        border-radius: 0.1rem;
        background-color: #000;
        transition: 0.3s ease-in-out all;
    }



    &.active {
        div:first-child {
            transform: rotate(45deg);
            transform-origin: top left;
        }

        div:nth-of-type(2) {
            opacity: 0;
        }

        div:last-child {
            transform: rotate(-45deg);
            transform-origin: bottom left;
        }
    }
}



@media(max-width:1250px) {
    .navigation-container .right-navigation .top-section .navigation-link h1 {
        font-size: 0.9rem;
    }

    .navigation-container .right-navigation .top-section .navigation-link svg {
        width: 1.5rem;
    }

    .navigation-container .right-navigation .bottom-section .navigation-link h1 {
        font-size: 0.9rem;
    }

    .navigation-container .right-navigation .bottom-section .navigation-link svg {
        font-size: 1.5rem;
    }

    .navigation-container .top-navigation .left-section .user-links .profile-dropdown .dropdown-menu li .dropdown-link h1,
    .navigation-container .top-navigation .left-section .user-links .profile-dropdown .dropdown-menu li .dropdown-link-last h1 {
        font-size: 0.9rem;
    }

    .navigation-container .top-navigation .left-section .user-links .profile-dropdown .dropdown-menu li .dropdown-link svg,
    .navigation-container .top-navigation .left-section .user-links .profile-dropdown .dropdown-menu li .dropdown-link-last svg {
        width: 1.5rem;
    }

    .navigation-container .top-navigation .left-section .user-links .profile-dropdown .PButton h1 {
        font-size: 1.1rem;
    }
}

@media(max-width:1060px) {
    .navigation-container .top-navigation .left-section .user-links .profile-dropdown .PButton h1 {
        font-size: 1rem;
    }

    .navigation-container .right-navigation .top-section .navigation-link h1 {
        font-size: 0.8rem;
    }

    .navigation-container .right-navigation .top-section .navigation-link svg {
        width: 1.3rem;
    }

    .navigation-container .right-navigation .bottom-section .navigation-link h1 {
        font-size: 0.8rem;
    }

    .navigation-container .right-navigation .bottom-section .navigation-link svg {
        font-size: 1.3rem;
    }

    .navigation-container .top-navigation .left-section .user-links .profile-dropdown .dropdown-menu li .dropdown-link h1,
    .navigation-container .top-navigation .left-section .user-links .profile-dropdown .dropdown-menu li .dropdown-link-last h1 {
        font-size: 0.8rem;
    }

    .navigation-container .top-navigation .left-section .user-links .profile-dropdown .dropdown-menu li .dropdown-link svg,
    .navigation-container .top-navigation .left-section .user-links .profile-dropdown .dropdown-menu li .dropdown-link-last svg {
        width: 1.3rem;
    }
}

@media(max-width:1000px) {
    .ham-button {
        display: flex;
    }

    .right-navigation {
        width: 25% !important;
        transform: translateX(35vw);

        &.active {
            transform: translateX(0);
        }
    }

    .navigation-container .right-navigation .top-section .main-link {
        display: none;
    }

    .navigation-container .right-navigation .top-section {
        padding-top: 4rem;
    }



    .navigation-container .top-navigation .right-section {
        display: none;
    }

    .navigation-container .top-navigation {
        padding: 1.4rem 4%;
    }

}

@media(max-width:800px) {

    .navigation-container .top-navigation .left-section .user-links .profile-dropdown .PButton h1,
    .navigation-container .top-navigation .left-section .user-links .profile-dropdown .PButton svg {
        display: none;
    }

    .navigation-container .top-navigation .left-section .user-links .profile-dropdown .PButton {
        padding: 5px;
    }

    .navigation-container .top-navigation .left-section .user-links .notification {
        width: 2.5rem;
        height: 2.5rem;
    }

    .navigation-container .top-navigation .left-section .user-links .profile-dropdown {
        margin-right: 15px;
    }

    .navigation-container .top-navigation .left-section .user-links .notification .dropdown-menu h2 {
        font-size: 1rem;
    }

    .navigation-container .top-navigation .left-section .user-links .notification .dropdown-menu .notification-item-container .header h1 {
        font-size: 0.8rem;
    }

    .navigation-container .top-navigation .left-section .user-links .notification .dropdown-menu .notification-item-container .header p {
        font-size: 0.6rem;
    }

    .navigation-container .top-navigation .left-section .user-links .notification .dropdown-menu .notification-item-container .body h1 {
        font-size: 0.8rem;
    }

}

@media(max-width:700px) {
    .right-navigation {
        width: 40% !important;
        transform: translateX(50vw);

        &.active {
            transform: translateX(0);
        }
    }

    .navigation-container .right-navigation .top-section .navigation-link {
        width: 90%;
    }

    .navigation-container .top-navigation .left-section .user-links .profile-dropdown {
        margin-right: 10px;
    }

    .navigation-container .top-navigation .left-section .user-links .notification .dropdown-menu,
    .navigation-container .top-navigation .left-section .user-links .notification .dropdown-menu .notification-item-container {
        width: 14rem;
    }
}

@media(max-width:600px) {
    .ham-button div {
        width: 1.2rem;
        height: 0.1rem;
        margin: 0.15rem 0;
    }
}

@media(max-width:500px) {
    .right-navigation {
        width: 50% !important;
        transform: translateX(80vw);

        &.active {
            transform: translateX(0);
        }
    }

    .navigation-container .right-navigation .top-section .navigation-link {
        width: 95%;
    }

    .navigation-container .top-navigation .left-section .user-links .notification .dropdown-menu {
        left: -2rem;
    }
}

@media(max-width:400px) {
    .navigation-container .top-navigation .left-section .user-links .notification .dropdown-menu .notification-item-container .header h1 {
        font-size: 0.7rem;
    }

    .navigation-container .top-navigation .left-section .user-links .notification .dropdown-menu .notification-item-container .header p {
        font-size: 0.5rem;
    }

    .navigation-container .top-navigation .left-section .user-links .notification .dropdown-menu .notification-item-container .body h1 {
        font-size: 0.7rem;
    }
}

@media(max-width:350px) {
    .right-navigation {
        width: 50% !important;
        transform: translateX(100vw);

        &.active {
            transform: translateX(0);
        }
    }
}