@import '../../colors';

.register-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-size: cover;

    .register-section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;

        .left-register-section {
            width: 50%;
            height: 100%;
            background: url('../../assets/bgs/main-bg.jpg');
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            position: relative;

            .infos {
                width: 80%;
                height: 70%;
                padding: 2rem 0;
                border-radius: 1rem;
                border: 1px solid #ffffff3e;
                background-color: #ffffff43;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                .logo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 1rem;
                    border-radius: 1rem;
                    background-color: #ffffff00;
                    border: 1px solid #ffffffaf;

                    h1 {
                        font-size: 0.9rem;
                    }

                    svg {
                        width: 10rem;
                        height: auto;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 80%;

                    h1 {
                        font-size: 4rem;
                    }

                    h2 {
                        font-size: 1rem;
                    }
                }
            }
        }

        .right-register-section {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background-color: #fff;
            position: relative;

            .main-logo {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                top: 0;
                right: 0;
                padding: 0.5rem;

                h1 {
                    font-size: 0.5rem;
                }

                svg {
                    width: 5rem;
                    height: auto;
                }
            }

            .error-msg {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5rem;
                border-radius: 0.5rem;
                background-color: #ef233b18;

                h1 {
                    color: $red;
                    font-size: 0.9rem;
                    font-weight: 500;
                }

                svg {
                    width: 1.6rem;
                    height: auto;
                    margin-left: 0.5rem;

                    path {
                        fill: $red;
                    }
                }
            }

            .register-infos {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 0.9rem;
                    font-weight: 700;
                    color: $link-soft ;
                }
            }

            .register-form {
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                input {
                    all: unset;
                    border: 1px solid $border-gray;
                    padding: 0.7rem 0.6rem;
                    width: calc(100% - 1.2rem);
                    font-size: 1rem;
                    border-radius: 0.6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 0.3rem;
                    transition: 0.1s ease-in-out all;
                    text-align: right;
                    font: small-caption;
                    font-size: 1rem;

                    &::placeholder {
                        color: $link-softer;
                        font-size: 0.9rem;
                        font-weight: 400;
                    }

                    &:focus {
                        border-color: $primary-color;

                        &::placeholder {
                            opacity: 0;
                        }
                    }
                }

                label {
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: #000;
                    margin-bottom: 0.5rem;

                    span {
                        color: $red;
                    }
                }

                .double-section {
                    width: 100%;
                    display: flex;
                    flex-direction: row-reverse;

                    .double-div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;

                        &:first-child {
                            margin-left: 1rem;
                        }
                    }
                }

                button {
                    all: unset;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.7rem 0;
                    width: calc(100% - 2px);
                    border-radius: 2rem;
                    background-color: #000;
                    transition: 0.2s ease-in-out all;
                    margin: 1.5rem 0;
                    border: 1px solid #000;

                    h1 {
                        margin: 0;
                        font-size: 0.8rem;
                        margin-right: 1rem;
                        color: #fff;
                        transition: 0.2s ease-in-out all;
                    }

                    svg {
                        width: 1.6rem;
                        height: auto;
                        transition: 0.2s ease-in-out all;

                        path {
                            fill: #fff;
                        }
                    }

                    &:hover {
                        background-color: #fff;


                        h1 {
                            color: #000;
                        }

                        svg {
                            path {
                                fill: #000;
                            }
                        }
                    }
                }

                .signin-section {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    h1 {
                        font-size: 0.8rem;

                        &:first-child {
                            margin-right: 0.3rem;
                            text-decoration: underline;
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1200px) {
    .register-container .register-section .right-register-section .register-form {
        width: 65%;
    }
}

@media(max-width:1100px) {
    .register-container .register-section .right-register-section .register-form {
        width: 70%;
    }
}

@media(max-width:1050px) {
    .register-container .register-section .left-register-section .infos .text {
        width: 90%;
    }

    .register-container .register-section .left-register-section .infos .text h1 {
        font-size: 3.5rem;
    }

    .register-container .register-section .left-register-section .infos .text h2 {
        font-size: 0.9rem;
    }

    .register-container .register-section .right-register-section .register-infos {
        width: 80%;
    }

    .register-container .register-section .right-register-section .register-form {
        width: 80%;
    }
}

@media(max-width:850px) {
    .register-container .register-section .left-register-section .infos .text {
        width: 100%;
    }

    .register-container .register-section .right-register-section .register-form {
        width: 90%;
    }
}

@media(max-width:800px) {
    .register-container .register-section .left-register-section {
        display: none;
    }

    .register-container .register-section .right-register-section {
        width: 80%;
    }

    .register-container .register-section {
        background: url('../../assets/bgs/main-bg.jpg');
    }
}

@media(max-width:550px) {
    .register-container .register-section .right-register-section {
        width: 100%;
    }

    .register-container .register-section .right-register-section .main-logo svg {
        width: 4rem;
        height: auto;
    }
}

@media(max-width:500px) {
    .register-container .register-section .right-register-section .register-infos h1 {
        font-size: 2rem;
    }

    .register-container .register-section .right-register-section .register-infos p {
        font-size: 0.8rem;
    }
}

@media(max-width:400px) {
    .register-container .register-section .right-register-section .register-infos {
        width: 100%;
    }

    .register-container .register-section .right-register-section .register-form {
        width: 95%;
    }
}