$primary-color: #826AED;
$secondary-color: #C879FF;
$accent-color1: #FFB7FF;
$accent-color2: #3BF4FB;
$accent-color3: #f8dda4;
$border-gray: #e5e5e5;
$link-dark: #404448;
$link-soft: #6c757d;
$line-soft: #f0f0f0;
$red: #ef233c;