$primary-color: #826AED;
$secondary-color: #C879FF;
$accent-color1: #FFB7FF;
$accent-color2: #3BF4FB;
$accent-color3: #f8dda4;
$border-gray: #e5e5e5;
$link-dark: #404448;
$link-soft: #6c757d;
$link-softer: #8b9094;
$line: #ffe2ff;
$line-soft: #f0f0f0;
$red: #ef233c;
$done: #2ec4b6;
$doneBg: #2ec4b633;
$pending: #f4a261;
$pendingBg: #f4a26133;